<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weifang.mapper.BookMapper">
    <!--实体类中属性与表中属性 名不同时 第一种解决方案 别名 -->
    <sql id="all">
        bookid id,bookname name
    </sql>
    <select id="getAll" resultType="book">
        select <include refid="all"/> from book
    </select>
    <!--resultMap 手动完成映射-->
    <resultMap id="bookMap" type="book">
        <!--主键绑定-->
        <id property="id" column="bookid"/>
        <!--非主键绑定-->
        <result property="name" column="bookname"/>
    </resultMap>
    <select id="getAll2" resultMap="bookMap">
        select bookid,bookname from book
    </select>
</mapper>