<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weifang.mapper.OrderMapper">
    <resultMap id="orderMap" type="orders">
        <id property="id" column="id"/>
        <id property="orderNumber" column="orderNumber"/>
        <id property="orderPrice" column="orderPrice"/>
        <!--association标签用于一对一映射-->
        <association property="customer" javaType="customer" >
            <id property="id" column="id"/>
            <id property="name" column="name"/>
            <id property="age" column="age"/>
        </association>
    </resultMap>
    <select id="getByOrderId" resultMap="orderMap">
        select o.id,c.id,o.orderNumber,o.orderPrice,c.age,c.name
        from orders o join customer c on c.id = o.customer_id
        where o.id = #{id}
    </select>
    <select id="getOrderByCustomerId" resultType="orders">
        select * from orders where customer_id = #{customer_id}
    </select>
</mapper>